<footer class="bg-dark text-white text-center py-3">
    <p class="mb-1 ">Autor: Nazarena Barros</p>
    <p class="mb-0">GitHub del proyecto: <a  href="https://github.com/nazarenabarros0612/tpFinal-sprint-05.git" target="_blank" class="text-white text-decoration-none"> Ver Repositorio.</a> </p>
  </footer>