<div class="text-center py-5">

    <h1 class="display-4 fw-bold mb-4">
      Países Hispanohablantes
    </h1>
  
    <p class="lead mb-4">
      Aplicación desarrollada con Node.js, Express, MongoDB y EJS.
    </p>
  
    <a href="/countries/import" class="btn btn-primary btn-lg">
      Importar países desde API
    </a>
  
  </div>