<div class="card shadow-sm p-4">

    <h1 class="mb-3">Acerca del TP</h1>
  
    <p>
      Proyecto desarrollado tp final del sprint 5 utilizando:
    </p>
  
    <ul>
      <li>Node.js</li>
      <li>Express</li>
      <li>MongoDB</li>
      <li>Mongoose</li>
      <li>EJS</li>
      <li>Bootstrap</li>
    </ul>
  
  </div>